:root {
  --primary-color: rgb(21, 52, 98);
  --mentol-color: rgb(79, 160, 149);
  --pink-color: rgb(197, 63, 164);
  --secondary-color: rgb(252, 252, 252);
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
[class*="col-"] {
  width: 100%;
}
body {
  background-color: whitesmoke;
  margin-top: 60px;
  font-family: sans-serif;
  background-repeat: no-repeat;
}
h1,
h2,
h3 {
  text-align: center;
  margin: 10px;
  color: #041b15;
}
h1 {
  font-size: 46px;
}
h2 {
  font-size: 40px;
  color: var(--primary-color);
}
h3 {
  font-size: 28px;
}
h4,
h5 {
  font-size: 22px;
  color: var(--primary-color);
}
.padding-top {
  padding-top: 70px;
}
.navbar-bgcolor {
  background-color: #136f63;
  font-size: larger;
}

.bg-content {
  background-color: var(--secondary-color);
}
.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}
.email-link:hover {
  text-decoration: underline;
}
.icon {
  color: white;
  font-size: 36px;
}

.body-project {
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://images.unsplash.com/photo-1579546929518-9e396f3cc809?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8Y29sb3IlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&w=1000&q=80);
  background-color: rgba(252, 252, 252, 0.8);
}
.body-about {
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/bg2.jpg);
  min-height: 550px;
}
.body-3D {
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/bg.jpg);
}
.body-graphicDesign {
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/bg3.jpg);
}
.body-digitalArt {
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/bg2.jpg);
}
.body-art {
  background-blend-mode: overlay;
  background-repeat: repeat;
  background-size: 100%;
  background-image: url(../images/bg2.jpg);
}
.graphicDesignTitle,
.artTitle {
  font-family: Segoe Print;
  font-size: 40px;
  color: white;
  text-align: center;
}

.text3D {
  font-family: Segoe Print;
  font-size: large;
  color: white;
}
.margin-top,
.margin-top2 {
  margin-top: 10px;
}
.carousel {
  margin-top: 100px;
}
@media screen and (min-width: 768px) {
  .margin-top {
    margin-top: 100px;
  }
  .margin-top2 {
    margin-top: 195px;
  }
  .graphicDesignTitle {
    font-size: 70px;
  }
  .artTitle {
    font-size: 50px;
  }
}
.text-home {
  font-size: 20px;
}
footer {
  width: 100%;
  background-blend-mode: overlay;
  background-color: #041b15;
}
footer a {
  color: white;
  text-decoration: none;
  font-size: large;
}
footer a:hover {
  color: whitesmoke;
  text-decoration: underline;
}

.margin-top {
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .margin-top {
    margin-top: 100px;
  }
  .d3_sliseImg {
    position: relative;
    margin-bottom: 300px;
  }
  .d3_sliseImg2 {
    position: absolute;
    top: 80%;
    left: 53%;
    z-index: 1;
  }
  .d3_sliseText {
    position: absolute;
    top: 105%;
    left: 1%;
  }
}
.box3 {
  padding: 5px 9%;
}
.box {
  padding-bottom: 5%;
}
